<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Lookup App</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/style.css"/>
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<p>
    hello!
</p>



</body>



    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>